*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-background: #dee2e6;
  --primary-border: #adb5bd;
  --secondary-background: #f8f9fa;
  --primary-text: #212529;
  --secondary-text: #6c757d;
  --primary-btn: #6C757D;
;
}

body {
  font-family:
    "DM Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: var(--primary-text);
  background: var(--main-background);
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}

a {
  color: #534ab7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link {
  color: var(--primary-purple);
  font-weight: 500;
}
