/* styles/ShareButton.module.css */

.shareBtn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 4px;
  color:#fff;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-family: inherit;
  transition:
    background 0.1s ease,
    transform 0.18s ease;
}

.shareBtn:active {
  transform: scale(0.90);
}

.shareBtn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.idle {
  background: var(--primary-btn);
}
.idle:hover {
  background: var(--primary-btn-hover);
}

.copied {
  background: var(--primary-btn);
  transform: scale(0.99);
}
.error {
  background: #A32D2D;
}

.icon {
  width: 12px;
  aspect-ratio: 1;
  flex-shrink: 0;
}
